@font-face{
	font-family: Arvo;
	src: url(fonts/arvo-bold.ttf);
}
body{
	background-color:#6495ED;
}
form{
	text-align:center;
}
h1{
	font-family:Arvo;
	text-align:center;
	color:#000000;
	margin-top:5px;
}
p{
	font-family:Arvo;
	font-size:20px;
	color:#000000;

}
input,select{
	border:solid;
	color:#000000;
	font-family: Arvo;
	font-size:20px;
	text-align:center;
}
#button{
	padding:       8px 20px;
	background:    #fff;
	border-radius: 5px;
	color:         #000;
	font-family:   Arvo;
	text-align:    center;
	margin-top:20px;
}
#button:active{
	padding:       8px 20px;
	background:    #000;
	border-radius: 5px;
	color:         #fff;
	font-family:   Arvo;
	text-align:    center;
	margin-top:	   20px;
}
#nameError,#loginError,#dateError,#emailError,#phoneError{
	color:#FF0000;
	font-size:20px;
}