body{
	background-color:#ffffcc;
}
h1{
	color:black;
	margin-left:5%;
}
.content{
	margin-top:2%;
	margin-left:25%;	
}
.result{
	height:60px;
	width:50%;
	background-color:gray;
	margin-left:25%;
	margin-top:100px;
	text-align:center;
}
.block{
	font-size:40px;
	font-family:Comic Sans MS;
	background:black;
	color:white;
	display:inline;
	margin-left:10px;
	cursor:pointer;
}
.btns{
	margin-top:20%;
	margin-left:40%;
}
.btnCheck,.btnClear{
	cursor:pointer;
	border-radius:5px;
	color:black;
	font-family:Arvo;
	font-size:20px;
	text-align:center;
	padding:8px 20px;
	
}

